<!--<p>navbar works!</p>  -->
<mat-toolbar color="accent">
    <a
    routerLink="/"
     mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu_book</mat-icon>
</a>
    <span>Examportal</span>
    <span class="example-spacer"></span>
    <a
    *ngIf="!isLoggedIn"
    [routerLink]="'/login'"
    mat-icon-button 
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon">
        Login
      <!--<mat-icon>login</mat-icon> -->
</a>
    <a 
    *ngIf="!isLoggedIn"
    [routerLink]="'/signup'"
    mat-icon-button 
    class="example-icon favorite-icon mr20 ml20" 
    aria-label="Example icon-button with heart icon">
        Register
      <!--<mat-icon>login</mat-icon> -->
    </a>
    

    <a 
    (click)="logout()"
    *ngIf="isLoggedIn"
    
    mat-icon-button 
    class="example-icon favorite-icon mr20 ml20" 
    aria-label="Example icon-button with heart icon">
        Logout
      <!--<mat-icon>login</mat-icon> -->
    </a>
    <button
    
    *ngIf="isLoggedIn && user"
    
   
    style="margin-right: 50px;"
    class="example-icon favorite-icon ml20" 
    mat-button
    routerLink="/admin/profile"
    aria-label="Example icon-button with heart icon">
       <!-- {{ user.username }}  --> 
      <!--<mat-icon>login</mat-icon> -->
    </button>
  </mat-toolbar>
  
